section{
    width: 1800px;
    height: 800px;
}

.fondoCompleto{
    display: flex;
    background-image: url("./img/Pokedex\ Logo\ 2.png");
    background-repeat: no-repeat;
    background-position: center;
}

.logo {
    position: absolute;
    left: 1180px;
}

.arti {
    position: absolute;
    left: 100px;
    top: 50px;
}

.mol {
    position: absolute;
    left: 1500px;
    top: 300px;
}

.zap {
    position: absolute;
    left: 100px;
    top: 450px;
}

.imgPokemon{
    position: absolute;
    top: 256px;
    left: 530px;
}

.inNom{
    position: absolute;
    top: 280px;
    left: 1030px;
    outline: none;
    border: rgba(8,64,53,255);
    background-color: rgba(8,64,53,255);
    color: white;
    font-size: 28px;
    border-radius: 5%;
    text-align: center;
}

.inNum{
    position: absolute;
    top: 350px;
    left: 1030px;
    outline: none;
    border: rgba(8,64,53,255);
    background-color: rgba(8,64,53,255);
    color: white;
    font-size: 28px;
    border-radius: 5%;
    text-align: center;
}

.cambPok {
    position: absolute;
    top: 430px;
    left: 1035px;
    width: 345px;
    height: 95px;
    cursor: pointer;
    display: inline-block;
    background: rgba(37,126,196,255);
    color: black;
    font-size: 30px;
    font-weight: 800;
    border: rgba(28,167,201,255);
    padding: 1rem 1.5rem;
}

.borrPok {
    position: absolute;
    top: 580px;
    left: 1032px;
    width: 142px;
    height: 48px;
    cursor: pointer;
    display: inline-block;
    background: rgba(109,117,115,255);
    color: black;
    font-size: 22px;
    font-weight: 600;
    border: rgba(28,167,201,255);
    padding: 1rem 1.5rem;
    text-align: center;
}

.navArr {
    position: absolute;
    top: 591px;
    left: 782px;
    width: 22px;
    height: 40px;
    cursor: pointer;
    display: inline-block;
    background: rgba(49,49,49,255);
    border: rgba(49,49,49,255);
}

.navAba {
    position: absolute;
    top: 670px;
    left: 782px;
    width: 22px;
    height: 35px;
    cursor: pointer;
    display: inline-block;
     background: rgba(49,49,49,255);
    border: rgba(49,49,49,255);
}

.navDer {
    position: absolute;
    top: 640px;
    left: 815px;
    width: 35px;
    height: 22px;
    cursor: pointer;
    display: inline-block;
    background: rgba(49,49,49,255);
    border: rgba(49,49,49,255);
}

.navIzq {
    position: absolute;
    top: 640px;
    left: 735px;
    width: 35px;
    height: 22px;
    cursor: pointer;
    display: inline-block;
    background: rgba(49,49,49,255);
    border: rgba(49,49,49,255);
}

.labAbi {
    position: absolute;
    top: 668px;
    left: 502px;
    width: 168px;
    height: 78px;
    background: rgba(95,196,128,255);
    border: rgba(49,49,49,255);
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.shinyAzul {
    position: absolute;
    top: 598px;
    left: 626px;
    width: 70px;
    height: 12px;
    cursor: pointer;
    display: inline-block;
    background: rgba(11,112,130,255);
    border: rgba(11,112,130,255);
}

.shinyRojo {
    position: absolute;
    top: 598px;
    left: 520px;
    width: 70px;
    height: 12px;
    cursor: pointer;
    display: inline-block;
    background: rgba(206,3,33,255);
    border: rgba(206,3,33,255);
}

.botPos {
    position: absolute;
    top: 580px;
    left: 438px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    background: rgba(44,44,44,255);
    border: rgba(44,44,44,255);
}

.type1 {
    position: absolute;
    top: 685px;
    left: 1032px;
    width: 155px;
    height: 45px;
    background: rgba(8,64,53,255);
    color: white;
    font-size: 22px;
    font-weight: 600;
    border: rgba(8,64,53,255);
    text-align: center;
}

.type2 {
    position: absolute;
    top: 685px;
    left: 1224px;
    width: 155px;
    height: 45px;
    background: rgba(8,64,53,255);
    color: white;
    font-size: 22px;
    font-weight: 600;
    border: rgba(8,64,53,255);
    text-align: center;
}
