body{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,0.7) 0%, rgba(255,235,205,1) 70%);
}

header{
    text-align: center;
    font-size: 30px;
    color:hotpink;
}

.tabl{
    text-align: center;
}

.ilus{
    position: relative;
    bottom:50px;
    right:80px;
}

.contenedor{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 50px;
  }

.us{
    position: absolute;
    bottom: 92%;
    left: 96%;
}

.at{
    position: absolute;
    bottom: 94%;
    right: 96%;
}
